{% extends 'base.html' %}
{% load bootstrap3 %}
{% block contenido %}
{% load static %}
<div class="container">
    <div>
        <h1>Categorias</h1>

        {%for i in categorias %}
        <span class="badge bg-warning">{{i.nombre}}</span>
        {%endfor%}
    </div>
    <hr></hr>
    <div class="mt-4">

        <h1>Agregar Categorias</h1>
        
        
        <form action="" method="POST" class="form-group" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-primary mt-4" type="submit" value="Crear categoria">
            
        </form>
    </div>
</div>
{%endblock%}