{% extends 'base.html' %}
{% block contenido %}
{% load static %}


<section>
    <div class="container" >
        {% if messages %}
            <ul class="messages" style="list-style: none;">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <div class="container" style="margin-top:5rem;">
            <div>
                <h2 class="row justify-content-center align-items-center">Noticias</h2>
            </div>
            
            <div class="row" style="margin-top:5rem">
                    <div class="col-xs-12 col-sm-12 col-sm-offset-0">
                        <div class="row">
                    {% if noticia%}
                        {% for p in noticia%}
                        <div class="col-xs-12 col-sm-6 col-md-4 pt-4 pb-4 center-block">
                            <div class="shadow bg-body rounded">
                            <a href="{% url 'apps.noticia:readpost' p.id %}">
                                {% if p.imagen %}
                                <img src="{{ p.imagen.url }}"  class="img-rounded" style="width:100%;height:24rem;">
                                
                                {% else %}
                                <img src="noticia/default.png"  >
                                {% endif %}
                            </a>
                            <div class="p-1">
                               
                                <a href="{% url 'apps.noticia:listarPorCategoria' p.categoria %}">
                                    <span class="badge bg-warning">{{p.categoria}}</span>
                                </a>
                                

                                
                                <h4>{{p.titulo}}</h4>

                                <p class="text-truncate">
                                    {{p.resumen}}
                                </p>
                                {% comment %} {% if user.is_superuser %}
                                <a style="justify-content: flex-end;" class="btn btn-outline-secondary" href="{% url 'apps.noticia:delete_noticia' p.id%}">Eliminar</a> {% endcomment %}
                               {% if user.is_superuser %}
                                <button type="button" style="justify-content: flex-end;" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Eliminar
                                </button> 
                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Esta seguro que desea eliminar esta noticia?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-outline-secondary" href="{% url 'apps.noticia:delete_noticia' p.id%}" target="_blank">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            </div>
                            </div>
                        </div>
                        
                        {%endfor%}
                    {%endif%}
                    </div>
                        </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}