{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
 <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Noticias</strong></h4>

{% if noticia %}	

    {% for p in noticia %}
  
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <h1 href="" style="text-align: center;">{{p.titulo}}</h1>
            <p style="text-align: center;">{{p.fecha}}</p>
    
            <p style="margin-left: 30%;">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}"  class="card-img-top" alt="...">
               {% else %}
               <img src="noticia/default.png" class="card-img-top" alt="...">
               {% endif %}</p>
           <a href="{% url 'apps.noticia:readpost' p.id %}" class="btn btn-primary" style="margin-left: 30%;">Leer Más</a>
           
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <h1 href="" style="text-align: center;">{{p.titulo}}</h1>
            <p style="text-align: center;">{{p.fecha}}</p>
    
            <p style="margin-left: 30%;">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}"  class="card-img-top" alt="...">
               {% else %}
               <img src="noticia/default.png" class="card-img-top" alt="...">
               {% endif %}</p>
           <a href="{% url 'apps.noticia:readpost' p.id %}" class="btn btn-primary" style="margin-left: 30%;">Leer Más</a>
           
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <h1 href="" style="text-align: center;">{{p.titulo}}</h1>
            <p style="text-align: center;">{{p.fecha}}</p>
    
            <p style="margin-left: 30%;">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}"  class="card-img-top" alt="...">
               {% else %}
               <img src="noticia/default.png" class="card-img-top" alt="...">
               {% endif %}</p>
           <a href="{% url 'apps.noticia:readpost' p.id %}" class="btn btn-primary" style="margin-left: 30%;">Leer Más</a>
           
        </div>
    </div>


    
 </div>

 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ p.imagen.url }}" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ p.imagen.url }}" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ p.imagen.url }}" class="d-block" alt="...">
    </div>
  </div>
</div>


    {% endfor %}
{% endif %}

{% endblock %}