{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

{% if noticia %}	

    {% for p in noticia %}
                
    <div class="container" style="margin-top: 8%; ">
        <h1 href="" style="text-align: center;">{{p.titulo}}</h1>
        <h3 style="text-align: center;">{{p.subtitulo}}</h3>
        <p style="text-align: center;">{{p.fecha}}</p>

        <p style="margin-left: 30%;">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}"  width="550" height="400">
            {% else %}
            <img src="noticia/default.png"  width="550" height="400">
           {% endif %}</p>
       <a href="{% url 'apps.noticia:readpost' p.id %}" class="btn btn-primary" style="margin-left: 30%;">Leer Más</a>
    {% endfor %}
{% endif %}
</div>
{% endblock %}