{% extends 'base.html' %}
{% block contenido %}
{% load static %}

<section>
    <div class="row justify-content-center align-items-center minh-100">
        <img class="m-4" height="80" src="{% static 'img\logos\uocra-sesion.svg' %}">
        <fieldset class="p-4 col-md-3 mx-auto shadow mb-5 bg-white rounded ">
            <div class="text-muted text-center m-4"><h5>Iniciar sesion</h5></div>
            <form method="post" class="form-group">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control mt-2 p-2" name="username" placeholder="Nombre de usuario"></input>
                </div>
                <div class="mb-3">
                    <input type="password"class="form-control mt-2 p-2" name="password" placeholder="Contraseña"></input>
                </div>
                    
                <div class="mt-4 mb-4 d-grid gap-2">
                    <input class="btn btn-primary mt-4 mb-4" type="submit" value="Iniciar sesion">
                </div>
            </form>
            <hr class="mt-4 mb-4"></hr>
            <div>
                <ul>
                    <li><a href="../addUsuario"  class="text-decoration-none">¿Aun no tienes cuenta? Registrate</a></li>
                    <li><a href="../addUsuario"  class="text-decoration-none">Olvide mi clave</a></li>

                </ul>
            </div>
        </fieldset>
    </div>
</section>

{% endblock %}