@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	background-color: pink;
}

h1 {
	font-size: 35px;
	text-align: center;
	padding-bottom: 20px;
	color: #0b45e5;
}

.parrafo {
	margin-left: 100px;
	


}

.parrafo p {
	font-size: 45px;
	text-align: center;
}

.buttons {
	min-width: 30px;
	size: 30px;
}

.buttons a {
	text-decoration: none;
	font-size: 40px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #0b45e5;
	color: #f1f1f1;
	border-radius: 50%;
	transition: all .4s ease-in-out;
	margin-left: 10px;
	margin-top: 40px;
	margin-right: 1200px;
}

.mapa{
	font-size: 45px;
	text-align: center;
    margin-top: -250px;
}