/* importação da fonte do google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	background-color: pink;
}


.contact_form {
	width: 620px;
	height: auto;
	margin: 650px;
	border-radius: 10px;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #fbfbfb;
	padding-left: 30px;
}


input {
	background-color: #fbfbfb;
	width: 570px;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ec576b;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
}


textarea {
	background-color: #fbfbfb;
	width: 570px;
	height: 150px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ec576b;
	margin-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	padding-top: 15px;
}


label {
	display: block;
	float: center;
}


button {
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	background-color: #0b45e5;
	border-color: #0b45e5;
	border-style: solid;
	border-radius: 10px;
	width: 570px;
	cursor: pointer;
}


button p {
	color: yellow;
}


span {
	color: #ec576b;
}


.aviso {
	font-size: 13px;
	color: #0e0e0e;
}


h1 {
	font-size: 35px;
	text-align: center;
	padding-bottom: 20px;
	color: #0b45e5;
}


h3 {
	font-size: 14px;
	padding-bottom: 30px;
	color: #0e0e0e;
}


p {
	font-size: 25px;
	color: #0e0e0e;
}


::-webkit-input-placeholder {
	color: #a8a8a8;
}


::-webkit-textarea-placeholder {
	color: #a8a8a8;
}


.formulario input:focus {
	outline: 0;
	border: 1px solid #97d848;
}


.formulario textarea:focus {
	outline: 0;
	border: 1px solid #97d848;
}

.redes {
	background-color: #ffffff;
	/* Green */
	border: none;
	color: rgb(217, 205, 255);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.present {
	text-align: center;
}

.buttons {
	min-width: 30px;
	size: 30px;
}

.buttons a {
	text-decoration: none;
	font-size: 40px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #0b45e5;
	color: #f1f1f1;
	border-radius: 50%;
	transition: all .4s ease-in-out;
	margin-left: 10px;
	margin-top: 40px;
	margin-right: 1200px;
}

.parrafo {
	margin-left: 100px;
	


}

.parrafo p {
	font-size: 45px;
	text-align: center;
}

h4 {
	padding: 20px;
	margin-left: 1100px;
	font-size: 50px;
	
}

