{% for item in comentarios %}
<div class="row justify-content-md-center ">
  <div class="col-md-6">
    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
      {%if user.imagen %}
      <img src="{{user.imagen.url}}" style="width:2rem; border-radius:50%"></img>
      {% else %}
      <img src="{% static 'img\logos\default-user.png' %}" style="width:2rem; border-radius:50%"></img>
      {%endif%}
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ user.username }}</h6>
          <p class="mb-0 text-break opacity-75">{{ item.texto }}</p>
        </div>
        <small class="opacity-50 text-nowrap">{{ item.fecha }}</small>
      </div>
    </div>
  </div>
</div> 
